* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: white;
  display: grid;
  grid-template-areas: "header" "nav" "ofertas " "productos" "consejos" "pie";
  grid-template-columns: auto;
  grid-template-rows: auto;
  /* transform*/
  /*consejos*/
  /*pie de pagina*/
}
body a {
  color: white;
}
body img {
  max-width: 100%;
}
body img, body svg {
  vertical-align: middle;
}
body header {
  grid-area: header;
}
body .nav {
  grid-area: nav;
}
body section #ofertas {
  grid-area: ofertas;
}
body section #ofertas #productos {
  grid-area: productos;
}
body section #ofertas #consejos {
  grid-area: consejos;
}
body section #ofertas #pie {
  grid-area: pie;
}
body .productos__grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25%;
}
body .nav__flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body .container {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
  padding-top: 2%;
  padding-bottom: 2%;
}
body .nav__box {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 60px;
}
body .icon {
  width: 16px;
  height: 16px;
  margin: 0.5rem;
}
body .logo {
  display: flex;
  justify-content: center;
}
body .logo__img {
  width: 25%;
}
body .banner {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
body .banner__ofertas {
  width: 100%;
  height: 400px;
}
body .nav__list {
  list-style: none;
}
body .nav__item {
  margin: 0.5rem;
  color: black;
}
body .display {
  size: 8rem;
}
body .col {
  width: 100%;
}
body .productos__img {
  width: 14rem;
  height: 16rem;
}
body .element {
  width: 14rem;
  height: 16rem;
  position: absolute;
  transform: translate(0px, 0px);
  background-color: white;
  transition: transform 1s ease-out;
  text-align: center;
}
body .element:hover {
  transform: translate(0px, -250px);
}
body .consejos_grid {
  display: grid;
  grid-template-columns: 50%;
  justify-content: center;
  max-width: 100%;
}
body .pieDePagina {
  background-color: black;
  color: whitesmoke;
}
body .fieldset {
  list-style: none;
}
body .border {
  border: solid 2px;
  border-color: black;
}

/*contactos*/
#grid__contacto {
  display: grid;
  grid-template-areas: "header header header" "nav nav nav" "contacto contacto contacto" "pie pie pie";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

section#contacto {
  grid-area: contacto;
}

.contacto {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.videos {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.video__center {
  justify-self: center;
}

/*login*/
#grid__login {
  display: grid;
  grid-template-areas: "header header header" "nav nav nav" "campos campos campos" "pie pie pie";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

section#login {
  grid-area: login;
}

section#campos {
  grid-area: campos;
}

.campos {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
}

.login {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-top: 2%;
}

/*productos_compra*/
#grid__producto {
  display: grid;
  grid-template-areas: "header header header" "nav nav nav" "producto producto producto" "pie pie pie";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

section#producto {
  grid-area: producto;
}

.img__procto {
  max-width: 100%;
  height: 500px;
}

.producto__compra {
  font-size: 50px;
}

.producto__texto {
  display: flex;
  justify-content: right space-between;
  align-items: inherit;
  flex-direction: column;
}

.producto {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
