*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: white;
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "ofertas "
    "productos"
    "consejos"
    "pie";
    grid-template-columns: auto ;
    grid-template-rows: auto;
}

a{
    color: white;
}

img{
    max-width: 100%;
}

img, svg{
    vertical-align: middle;
}

header{
    grid-area: header;
}

.nav{
    grid-area: nav;
}

section#ofertas{
    grid-area: ofertas;
}

section#productos{
    grid-area: productos;
}

section#consejos{
    grid-area: consejos;
}

section#pie{
    grid-area: pie;
}

.productos__grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% ;
}

.nav__flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    width: 80%;
    margin:  0 auto;
    max-width: 1320px;
    padding-top: 2%;
    padding-bottom: 2%;

}

.nav__box{
    background-color : black;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 60px;
}

.icon{
    width: 16px;
    height: 16px;
    margin: 0.5rem;
}

.logo{
    display: flex;
    justify-content: center;
}
.logo__img{
    width: 25%;
}

.banner{
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.banner__ofertas{
    width: 100%;
    height: 400px;
}

.nav__list{
    list-style: none;

}

.nav__item{
    margin: 0.5rem;
    color: black;
}

.display{
    size: 8rem;
}

.col {
    width: 100%;
}

.productos__img{
    width: 15rem;
    height: 15rem;
}

.consejos_grid{
display: grid;
grid-template-columns: 50%;
justify-content: center;
max-width: 100%;
}

/*pie de pagina*/

.pieDePagina{
    background-color: black;
    color: whitesmoke;
}

.fieldset{
    list-style: none;
}

.border{
    border: solid 2px;
    border-color: black;

}

/*contactos*/

#grid__contacto{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "contacto contacto contacto"
    "pie pie pie";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
section#contacto{
    grid-area: contacto;
}
.contacto{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 2%;
    padding-bottom: 2%;
}
.videos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.video__center{
    justify-self: center;
}

/*login*/

#grid__login{
    display: grid;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "campos campos campos"
    "pie pie pie"
    ;
    grid-template-columns:1fr;
    grid-template-rows: auto;
}
section#login{
    grid-area: login;
}
section#campos{
    grid-area: campos;
}
.campos{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
}
.login{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 2%;
}

/*productos_compra*/

#grid__producto{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "producto producto producto"
    "pie pie pie";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

section#producto{
    grid-area: producto;
}

.img__procto{
    max-width: 100%;
    height: 500px;

}

.producto__compra{
    font-size : 50px;
}

.producto__texto{
    display: flex;
    justify-content: right space-between;
    align-items: inherit;
    flex-direction: column;

}

.producto{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
}