*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: white;
    
}

a{
    color: white;
}

img{
    max-width: 100%;
}

img, svg{
    vertical-align: middle;
}

#grid{
    display: grid;
    grid-template-areas: 
    header header header
    nav nav nav
    ofertas ofertas ofertas
    productos productos productos
    productos productos productos
    consejos consejos consejos
    consejos consejos consejos
    pie pie pie;
}
.productos__grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% ;
}

.nav__flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1320px;

}

.nav__box{
    background-color : black;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.icon{
    width: 16px;
    height: 16px;
    margin: 0.5rem;
}

.logo{
    display: flex;
    justify-content: center;
}
.logo__img{
    width: 25%;
}

.banner{
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.banner__ofertas{
    width: 100%;
    height: 300px;
}

.nav__list{
    list-style: none;
    list-style-image: none;
}

.nav__item{
    margin: 0.5rem;
    color: black;

}

.display{
    size: 8rem;
}

.col {
    width: 100%;
}

.productos__img{
    width: 15rem;
    height: 15rem;
}

.consejos{
display: flex;
flex-direction: row;
justify-content: center;
max-width: 100%;
}

/*pie de pagina*/

.pieDePagina{
    background-color: black;
    color: whitesmoke;
}
